body {
    background: #000000;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

div {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header {
    height: 30px;
    width: 1024px;
}

div.articleOneContainer {
    background-image: url("./images/background-box-1.png");
    background-repeat: x;
}

article {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

article.pageOne {
    height: 568px;
    display: table;
    background-image: url("./images/background-box-1-eyecandy.png");
    background-repeat: no-repeat;
    background-position: -100px;
}

article.pageOne section {
    width: 1024px;
}

div.articleTwoContainer {
    background-image: url("./images/background-box-2.png");
    background-repeat: x;
}

article.pageTwo {
    height: 600px;
    display: table;
    padding-top: 40px;
}

article.pageTwo section {
    display: table-cell;
}

article.pageTwo section.left {
    width: 427px;
    padding-left: 40px;
}

article.pageTwo section.center {
    width: 321px;
}

article.pageTwo section.right {
    width: 236px;
}

article.pageThree {
    height: 608px;
    display: table;
    padding-top: 40px;
}

article.pageThree section {
    display: table-cell;
}

article.pageThree section.left {
    width: 472px;
    padding-left: 40px;
}

article.pageThree section.right {
    width: 512px;
}
