body {
    background: #000000;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

div {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header {
    height: 24px;
}

div#main {
    padding-top: 24px;
}

header#mayflower-network {
    position: fixed;
    background-color: #000000;
    height: 24px;
    width: 100%;
}

header#mayflower-network ul {
    list-style-type: none;
    margin-top: 8px;
}

header#mayflower-network ul li {
    float: left;
    padding-right: 20px;
}

header#mayflower-network ul li a {
    text-decoration: none;
    color: #d3d3d3;
}

header#mayflower-network ul li a:hover {
    text-decoration: underline;
}

div.articleOneContainer {
    background-image: url("./images/background-box-1.png");
    background-repeat: x;
}

article {
    margin-left: auto;
    margin-right: auto;
}

article.page {
    width: 960px;
}

article.pageOne {
    height: 568px;
    display: table;
    background-image: url("./images/background-box-1-eyecandy.png");
    background-repeat: no-repeat;
    background-position: -100px;
}

div.articleTwoContainer {
    background-image: url("./images/background-box-2.png");
    background-repeat: x;
}

article.pageTwo {
    height: 600px;
    display: table;
    padding-top: 40px;
}

article section {
    width: 320px;
    padding: 1em;
}

article section header h3 {
    font-size: 18px;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
    color: #d3d3d3;
}

article.pageTwo section {
    display: table-cell;
}

article.pageTwo section.left {
    padding-left: 40px;
}

article.pageTwo section.center {
}

article.pageTwo section.right {
}

div.articleThreeContainer {
}

article.pageThree {
    height: 608px;
    display: table;
    padding-top: 40px;
}

article.pageThree section {
    display: table-cell;
}

article.pageThree section.left {
    padding-left: 40px;
}

article.pageThree section.right {
}

footer {
    height: 241px;
}

h3 {

}

#main {
    text-shadow: -1px -1px 0px black;
}
