body {
    background: #000000;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

div {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

div#main {
    padding-top: 24px;
}

header#mayflower-network {
    position: fixed;
    background-color: #000000;
    height: 24px;
    width: 100%;
    z-index: 2;
    background-image: url(images/favicon.png);
    background-repeat: no-repeat;
    background-position: 5px 2px;
    padding-left: 10px;

}

header#mayflower-network ul {
    list-style-type: none;
    margin-top: 4px;
}

header#mayflower-network ul li {
    float: left;
    padding-right: 20px;
}

header#mayflower-network ul li a {
    text-decoration: none;
    color: #d3d3d3;
}

header#mayflower-network ul li a:hover {
    text-decoration: underline;
}

div.articleOneContainer {
    background-image: url("./images/background-box-1.png");
    background-repeat: repeat-x;
}

article {
    margin-left: auto;
    margin-right: auto;
}

article p {
    margin-bottom: 1em;
}
article.page {
    width: 960px;
}

article.pageOne {
    height: 568px;
    display: table;
    background-image: url("./images/background-box-1-eyecandy.png");
    background-repeat: no-repeat;
    background-position: -100px;
}

article.pageOne .phprojekt-download {
    width: 180px;
    height: 44px;
    background: #000000;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    float: right;
    position: relative;
    top: -94px;
    right: 64px;
    padding: 10px;
}

article.pageOne .phprojekt-download a {
    text-decoration: none;
    color: #ffffff;
}

article.pageOne .phprojekt-download .download {
    font-size: 22px;
    text-align: center;
}

article.pageOne .phprojekt-download .version {
    line-height: 18px;
    font-size: 11px;
    text-align: center;
}

div.articleTwoContainer {
    background-image: url("./images/background-box-2.png");
    background-repeat: repeat-x;
    background-color: #001c22;
}

article.pageTwo {
    height: 600px;
    display: table;
}

article section {
    width: 320px;
    padding: 1em;
}

article section header h3 {
    font-size: 18px;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
    color: #d3d3d3;
    margin-top: 1em;
}

article.pageTwo section {
    display: table-cell;
}

article.pageTwo section.left {
    padding-left: 40px;
}

article.pageTwo section.center {
}

article.pageTwo section.right {
}

div.articleThreeContainer {
}

article.pageThree {
    height: 308px;
    display: table;
}

article.pageThree section {
    display: table-cell;
}

article.pageThree section.left {
    padding-left: 40px;
}

article.pageThree section.right {
}

footer {
    width: 960px;
    margin: auto;
    text-align: center;
    color: #a6a6a6;
}

#main {
    text-shadow: -1px -1px 0px black;
}

/* tooltip styling */
.tooltip {
    display: none;
    background: url('images/white_arrow.png');
    text-shadow: none;
    height: 87px;
    width: 187px;
    padding: 11px 11px 24px 11px;
    font-size: 11px;
    color: #000;
}

.tooltip div {
    padding: 10px;
}

.tooltip a,
.tooltip a:visited,
.tooltip a:active,
.tooltip a:hover {
    color: black;
    text-shadow: none;
}

.pageOne section {
    width: 100%;
}

.pageOne header {
    background-position: 0 0;
    background-repeat: no-repeat;
    border-bottom: medium none;
    color: #000000;
    font-size: 0;
    margin: 160px 0 10px;
    text-indent: -9999px;
    background-image: url('./images/header.png');
    height: 115px;
}

#colorbox {
    z-index: 1;
}

#slides {
    width: 300px;
    background: black;
    padding: 5px;
    margin: 10px 0 10px 0;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
}

.slides_container {
    margin-bottom: 5px;
}

a, a:visited, a:active, a:hover {
    color: white;
    text-shadow: none;
}
